<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="../../index.html">Ir a home</a>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13390.532772867706!2d-60.65091624991666!3d-32.96069249417864!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7aaff85375e01%3A0xe3758e0405648f94!2sAv.%20Pellegrini%2045%2C%20S2000BTA%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1629901792771!5m2!1ses!2sar"
      width="200"
      height="120"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </body>
</html>
