<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../css/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">

  <script src="https://kit.fontawesome.com/9910795a8e.js" crossorigin="anonymous"></script>

  <title>Codify</title>
</head>

<body>
  <header>
    <i class="far fa-lemon"></i>

    <b>CODIFY</b>
    <a href="../../index.html">Ir a home</a>
  </header>
  <h2>Mi Playlist</h2>

  <table>
    <tr>
      <td>
        <img src="../../assets/images/1.jpg" alt="imagen1">
      </td>
      <td>
        <img src="../../assets/images/2.jpg" alt="imagen2">
      </td>
      <td>
        <img src="../../assets/images/3.jpg" alt="imagen3">
      </td>
      <td>
        <img src="../../assets/images/4.jpg" alt="imagen4">
      </td>
      <td>
        <img src="../../assets/images/5.jpg" alt="imagen5">
      </td>
    </tr>
    <tr>
      <td>
        <img src="../../assets/images/6_1.jpg" alt="imagen6">
      </td>
      <td>
        <img src="../../assets/images/7.jpg" alt="imagen7">
      </td>
      <td>
        <img src="../../assets/images/8.jpg" alt="imagen8">
      </td>
      <td>
        <img src="../../assets/images/9.png" alt="imagen9">
      </td>
      <td>
        <img src="../../assets/images/10.png" alt="imagen10">
      </td>
    </tr>
    <tr>
      <td>
        <img src="../../assets/images/11.png" alt="imagen11">
      </td>
      <td>
        <img src="../../assets/images/12.png" alt="imagen12">
      </td>
      <td>
        <img src="../../assets/images/13.jpg" alt="imagen13">
      </td>
      <td>
        <img src="../../assets/images/14.png" alt="imagen14">
      </td>
      <td>
        <img src="../../assets/images/15.png" alt="imagen15">
      </td>
    </tr>
    <tr>
      <td>
        <img src="../../assets/images/16.png" alt="imagen16">
      </td>
      <td>
        <img src="../../assets/images/17.png" alt="imagen17">
      </td>
      <td>
        <img src="../../assets/images/18.png" alt="imagen18">
      </td>
      <td>
        <img src="../../assets/images/19.png" alt="imagen19">
      </td>
      <td>
        <img src="../../assets/images/20.jpg" alt="imagen20">
      </td>
    </tr>


  </table>

  <ul type="square">
    <li>Musica 1</li>
    <li>Musica 2</li>
    <li>Musica 3</li>
    <li>Musica 4</li>
  </ul>
  <footer>

    <a href="pages/components/contact.html">Contact</a>

  </footer>
</body>

</html>